body{
	margin:0;
	padding: 0;}
/*header start*/
header{

}
.container {
	margin: 0 auto;
	width: 80%;
	/*border: 1px solid red;*/
	overflow: hidden;
}
.logo {
	float: left;
	width: 18%;
	/*border: 1px solid red;*/
}
.logo img{
	width: 100%;
}
.menu {
	float: right;
	width: 70%;
	/*border: 1px solid red;*/
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
	/*margin: 0 10px;*/
}
.menu ul li a{
	padding:10px 16px;
	display: inline-block;
	font-family:sans-serif;
	font-size: 16px;
	font-weight:700;
	color: #535D69;
	text-decoration: none;

}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color: #BD233F;
	/*border-bottom: 4px solid red;*/

}
/*header end*/
/*banner start*/
.banner{
	/*min-height:450px;*/
	background-image: url(../image/bg.jpg);
	background-repeat:  no-repeat;
	background-size: cover;
	background-position: center;
}
.b_content{
	margin: 100px 0;
	width: 50%;
	/*border:1px solid red;*/
}
.b_content h1{
	margin: 0 0 30px; 
	font-family:sans-serif;
	font-size:65px;
	font-weight:700;
	color:white;
	text-transform: capitalize;
}
.b_content p{
	font-family:sans-serif;
	font-size:20px;
	font-weight:400;
	color:white;
	line-height: 25px
}
.b_content button{
	margin-top: 40px;
	width:250px;
	height:50px;
	background-color: #B9253B;
	border:none;
	font-family:sans-serif;
	font-size:14.5px;
	font-weight:400;
	color:white;
	text-transform:uppercase;
	cursor: pointer;
	transition: .5s;
}
.b_content button:hover{
	background-color:white;
	color:#B9253B;
}
/*banner end*/
/*works start*/
.works{
	padding: 90px 0;
}
.c_title{
	margin: 0 auto 50px;
	width: 70%;
	/*border: 1px solid red;*/
	text-align: center;
}
.c_h1{
	margin: 0 0 30px;
	font-family:sans-serif;
	font-size:30px;
	font-weight:700;
	color:#161616;
}
.c_p{
	margin: 0;
	font-family:sans-serif;
	font-size:16px;
	font-weight:400;
	color:#535D69;
	line-height: 26px;
}
/*single item start*/
.w_content{
	overflow: hidden;
	/*border: 1px solid black;*/
}
.single{
	float: left;
	padding: 20px 3.66%;
	width: 26%;
	/*border: 1px solid red;*/
	text-align: center; 
}
.s_img{
	margin: 0 auto;
	width: 60%; 
}
.s_img img{
	width: 100%
}
.single h3{
	font-family:sans-serif;
	font-size:20px;
	font-weight:700;
	color:#535D69;
	line-height: 26px
}
/*single item end*/
/*works end*/
